.Dot {
    border:4px solid red;
    height: calc(100vw/12);
    width: calc(100vw/12);
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;
    position:relative;
    margin:10px auto;
    display:inline-block;
}

.Dot-disabled {
    border:4px solid greenyellow;
    background-color: darkblue;
}

.Dot-enabled {
    border: 4px solid  darkblue;
    background-color:greenyellow;
}

.circle {
    width:100%;
    border-radius:50%;
    text-align:center;
    font-size: 48px;
    padding:50% 0;
    line-height:0;
    position:relative;
    background: #38a9e4;
    color: white;
    font-family: Helvetica, Arial Black, sans;
}

.dot-false-text{
    color: greenyellow;
    font-size: 3vw
}

.dot-true-text{
    color: darkblue;
    font-size: 3vw
}