.Row{
    /*border:4px solid black;*/
    height: 100px;
    width: 700px;
    margin: 5px;
    text-align:center;
    position:relative;
    /*display: inline-flex;*/
}

.Test-row{
    /*display: flex;*/
}

.row-header{
    display: flex;
    padding-left: 50px;
}

.row-time-values{
    margin-top: calc(100vw/48);
    font-family: Helvetica, Arial Black, sans;
    color: #d3e6e4;
}